// Links
a {
    padding-bottom: 0.5rem;

    &:link {
        text-decoration: none;
        color: #272B2A;
        font-weight: 600;
        transition: 0.3s ease;
    }

    &:hover {
        color: #FF5900;
    }

    &:active {
        color: #FF5900;
    }
}

// Headings
.title {
    font-family: 'Bebas Neue', sans-serif;
}

.subtitle {
    font-family: 'Bebas Neue', sans-serif;
}