// Primary button
.okapi-btn {
    display: block;
    border: none;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    background: #FF5900;
    width: 100%;
}