// Header and navigation menu
header {
    background-color: #F0F2F0;
    padding-block: 1.5rem;
}

.nav-bar {
    padding-inline: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-item {
    list-style-type: none;
}

.nav-toggler {
    display: none;
    cursor: pointer;
}



@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: start;
    }

    .nav-menu {
        border-top: 1px solid #272B2A;
        border-bottom: 1px solid #272B2A;
        padding-block: 1rem;
        flex-direction: column;
        gap: 0;
        align-items: start;
    }
}